body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 50px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width >img{
    width: 100%;
    
    
}
.btn-style{
    background-image: linear-gradient(tomato,rgb(207, 16, 112));
    padding:8px 13px;
    border-radius: 5px;
    color:white;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 700;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    height: 650px;
    margin-bottom: 30px;
}
.dream-part{
    background-image: url(img/dream-bg.png);
    height: 600px;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.experience-area{
    margin-top: 30px;
}
.single-exp{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 450px;
    margin-bottom: 30px;
    padding-top: 40px;
    
    
}
.experience-area{
    background-image: url(img/exp-bg.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-bottom: 90px;
}
#baby-stack{
    border-left: 7px solid ;
    border-image: linear-gradient(rgb(224, 36, 36),tomato);
    border-image-slice: 1;
}
#full-stack{
    border-left:7px solid;
    border-image: linear-gradient(greenYellow,blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    
}